/* Add your CSS code below */
a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.message__time,
.message__time--old {
  font-size: 0.9rem;
}
.message--unread {
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: blue;
}
.messages > .message:first-child {
  opacity: 0.5;
}
.message {
  line-height: 2rem;
}
